.Container{
    text-align: center;
      margin-top: 200px;
  font-family: Arial, sans-serif;
}

.Container h1 {
  color: #007acc;
  font-size: 2.5rem;
}

.Container p {
  font-size: 1.2rem;
  color: #444;
}